/*===flex===*/
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column; 
}
.align-i-center{
    align-items: center;
}
.align-i-left{
    align-items:flex-start;
}
.align-i-right{
    align-items:flex-end;
}  
.align-i-stretch{
    align-items:stretch;
}
.align-i-baseline{
    align-items: baseline;
}
.justify-content-center{
     justify-content: center;   
}
.justify-content-between{
     justify-content: space-between;   
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.justify-content-around{
     justify-content: space-around;   
}
.justify-content-start{
     justify-content: flex-start;
}
.justify-content-end{
     justify-content: flex-end;
}  