html {
    box-sizing: border-box; // 1
    font-family: sans-serif; // 2
    line-height: 1.15; // 3
    -webkit-text-size-adjust: 100%; // 4
    -ms-text-size-adjust: 100%; // 4
    -ms-overflow-style: scrollbar; // 5
    -webkit-tap-highlight-color: rgba(0,0,0,0); // 6
}
*,
*::before,
*::after {
  box-sizing: inherit; // 1
} 
body {
    font-family: "Roboto" sans-serif;
    color: #333;
    background-color: #F5F5F5;
	margin-top: 50px;
}
a {
    color: #329d81;
	text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
//colors
@import "./_utlites/_colors";
// headings
@import "./_utlites/_headings";
/*===cards===*/
@import "./_utlites/_card";
// Modals
@import "./_utlites/_modals.scss";


/*===Buttons===*/
@import "./_utlites/_buttons";
/*===MainView===*/
@import "./_mainView";
// SideBars
@import "./_sideBars";
// Inputs
@import "./_utlites/_inputs";


/*===text-aligns===*/
@import "./_utlites/_alignText";
/*===flex===*/
@import "./_utlites/_flex";
/*===width===*/
@import "./_utlites/_width";
/*===Floating====*/
@import "./_utlites/_floating";
/*===indents===*/
@import "./_utlites/_indends";
// Images
@import "./_utlites/_images";
/*=============================================*/
/*===Normalize===*/


/*===displaying===*/
/*.d-none{
    display: none;
}





.pull-center{
	margin: 0 auto;
}
/*===Border radius====*/
/*.border-left-radius{
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.border-right-radius{
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
} 
.no-border-radius{
	border-radius: 0px !important;
}


/*===font-sizing===*/
/*.text-small{
    font-size: 0.75rem;  
}
.text-middle{
    font-size: 1rem;  
}
.text-large{
    font-size: 1.25rem;  
}
/*===font-weight===*/
/*.text-w-lighter{
    font-weight: lighter;
}
.text-w-normal{
    font-weight: lighter;
}
.text-w-bolder{
    font-weight: bolder;
}
.text-w-bold{
    font-weight: bold;
}
/*=============================================*/