#mainView{
	position: relative;
	display: flex;
    flex-direction: row;
	width: 1140px;
    max-width: 100%;
	min-height: calc(100vh - 220px);
	margin: 0 auto;
}
#menuWrap{
    position: relative;
    min-width: 180px;
    padding: 1rem 0.5rem 0.5rem;
    min-height: 100vh;
}
#view{
    width: calc(100% - (180px + 2rem));
    padding: 1rem 0.5rem 0.5rem;
}

.withSideBar{
    max-width: 660px;
}

#mainView .sideBar{
	/*flex: 0 0 calc(22% - 1rem);
    max-width: calc(22% - 1rem);*/
    padding: 1rem 0.5rem 0.5rem;
}